html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Regular"),
        url("../fonts/MullerRegular.woff2") format("woff2"),
        url("../fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Bold"),
        url("../fonts/MullerBold.woff2") format("woff2"),
        url("../fonts/MullerBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Light"),
        url("../fonts/MullerLight.woff2") format("woff2"),
        url("../fonts/MullerLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Medium"),
        url("../fonts/MullerMedium.woff2") format("woff2"),
        url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #E5E5E5;
    font-family: "Muller";
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 30px 0;
}

.flex {
    display: flex;
}

.link-reset {
    text-decoration: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.h2, .h3, .p {
    margin: 0;
}

.section {
    margin-bottom: 70px;
}

/* header */
.header-up-logo {
    align-items: center;
}

.header-up{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo-icon {
    margin-right: 40px;
}

.header-up-phone {
    font-size: 20px;
    font-weight: 500;
    color: #666;
}

.log-in-link {
    color: #CC9933;
    display: block;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left -5px;
    padding-left: 29px;
}

.nav {
    background-color: #fff;
    justify-content: space-between;
    padding: 14px 45px;
    border-radius: 15px;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 45px;
}

.nav-btn:not(:last-child) {
    margin-right: 40px;
}

.nav-btn {
    color: #CC9933;
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    font-size: 16px;
}

.nav-item-link {
    font-size: 16px;
    color: #666;
}

.header {
    margin-bottom: 70px;
}
/* offers */
.h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
    text-indent: 40px;
}

.offers-two-blocks {
    flex-direction: column;
}

.offers-block{
    border-radius: 15px;
    padding: 40px 45px;
}

.offers-block-small {
    width: 573px;
    height: 258px;
    margin-right: 24px;
}

.offers-block-1 {
    background-image: url('../img/offer_1.jpg');
    margin-bottom: 24px;
}

.offers-block-2 {
    background-image: url('../img/offer_2.jpg');
}

.offers-block-big {
    background-image: url('../img/offer_3.jpg');
}

.offers-block-big {
    width: 573px;
    height: inherit;
    padding-top: 212px;
}

.offers-block-h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}

.offers-block-price {
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 47px;
}

.offers-block-link {
    color: #CC9933;
    background-image: url('../img/arrow2.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    padding-right: 11px;
}

.offers-block-big-h3 {
    font-size: 60px;
    line-height: 60px;
}

/* about */
.about-p {
    font-size: 16px;
    line-height: 32px;
    width: 888px;
}

/* services */
.services-items {
    flex-wrap: wrap;
}

.services-item {
    width: 573px;
    background-color: #fff;
    margin-right: 24px;
    margin-bottom: 24px;
    border-radius: 15px;
}

.services-item:nth-child(2n) {
    margin-right: 0;
}

.services-item:nth-child(3), .services-item:nth-child(4) {
    margin-bottom: 0;
}

.services-card-link {
    color: #CC9933;
}

.services-card-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    background-image: url('../img/arrow2.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    display: inline;
    padding-right: 14px;
}

.services-card-1 {
    background-image: url('../img/service-1.jpg');
}

.services-card-2 {
    background-image: url('../img/service-2.jpg');
}

.services-card-3 {
    background-image: url('../img/service-3.jpg');
}

.services-card-4 {
    background-image: url('../img/service-4.jpg');
}

.services-card {
    padding: 35px 45px;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 200px;
    border-radius: 15px;
}

.services-card-descr {
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
}

/* advantages */

.advantages-list {
    flex-wrap: wrap;
    width: 1170px;
    height: 574px;
    justify-content: space-between;
    align-content: space-between;
}

.advantages-item {
    width: 276px;
    height: 276px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0;
    padding: 0;
}